/* GLOBAL STYLES -------------------------------------------------- */
body {
    margin: 0;
    /*background-image:linear-gradient(#FFFFFF,#4B79A1);
     */
    font-family: "Montserrat", sans-serif;
}
p {
    font-size: 18px;
}
.text-align {
    text-align: center;
    padding-top: 6px;
}
.image-radius {
    padding-top: 24px;
}
.coast {
    border-radius: 50%;
}
.featurette-heading {
    padding-left: 9px;
    text-align: center;
}
.feature-space {
    margin: 30px;
}
img {
    border-radius: 12px;
}
.btn-main {
    background-color: #c0c0c0;
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 30px;
    border: 1pt solid #000;
    color: #000;
    border-radius: 12px;
    font-weight: 700;
    box-shadow: 3px 2px #000;
    cursor: pointer;
}

.btn {
    cursor: pointer;
}
/* Navbar --------------------------------------------------- */
.navbar {
    opacity: 0.8;
}
.navbar-brand {
    color: #000;
}
.dropdown {
    right: 5%;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}
/* Featurettes ------------------------- */
.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}
/* index page */
.hero-image {
    background-image: url("../images/index_images/discoverlakes.jpg");
    width: 100%;
    height: 100%;
    padding-top: 270px;
    padding-bottom: 350px;
    background-size: cover;
    display: inline-block;
    color: #fff;
    text-shadow: 2px 2px #000;
}
.hero-text {
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    text-shadow: 2px 2px #000;
}
.about-text {
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    margin: 0 auto;
    padding-right: 21px;
    padding-bottom: 42px;
}
.what-text {
    color: #000;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    margin: 0 auto;
    padding-right: 21px;
    padding-bottom: 42px;
}
.background-image-what {
    background-image: url("../images/index_images/whatwedo.jpg");
    width: 100%;
    height: 50%;
    padding-top: 180px;
    padding-bottom: 180px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    color: #fff;
    margin: 0 auto;
    opacity: 1;
}
/*----- Discover Page ------*/
.discover-text {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    padding-bottom: 42px;
    text-shadow: 2px 2px #000;
}
.background-image-lakes {
    background-image: url("../images/discover_images/lake.jpg");
    width: 100%;
    height: 100%;
    padding-bottom: 240px;
    padding-top: 240px;
    background-size: cover;
    display: inline-block;
    background-position: center;
}

#discover-link {
    color: #0000ff;
}
/*--- Package background images on index page ---*/
.background-image-country {
    background-image: url("../images/index_images/cave.jpg");
    width: 100%;
    height: 100%;
    padding-top: 180px;
    padding-bottom: 180px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    color: #fff;
    margin: 0 auto;
    text-shadow: 2px 2px #000;
}
.background-image-adventure {
    background-image: url("../images/index_images/discover.jpg");
    width: 100%;
    height: 100%;
    padding-top: 180px;
    padding-bottom: 180px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    color: #fff;
    margin: 0 auto;
    text-shadow: 2px 2px #000;
}
.background-image-comfort {
    background-image: url("../images/index_images/cottagehawkshead.jpg");
    width: 100%;
    height: 100%;
    padding-top: 180px;
    padding-bottom: 180px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    color: #fff;
    margin: 0 auto;
    text-shadow: 2px 2px #000;
}
/*-- Quiz page -- */
.background-image-quiz {
    background-image: url("../images/quiz_images/adventurehero.jpg");
    width: 100%;
    height: 100%;
    padding-bottom: 240px;
    padding-top: 240px;
    background-size: cover;
    display: inline-block;
    background-position: center;
}
.background-image-takequiz {
    background-image: url("../images/quiz_images/plan.jpg");
    width: 100%;
    height: 50%;
    padding-top: 180px;
    padding-bottom: 180px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    color: #fff;
    margin: 0 auto;
    opacity: 1;
}
.background-image-friends {
    background-image: url("../images/quiz_images/country.jpg");
    width: 100%;
    height: 50%;
    padding-top: 180px;
    padding-bottom: 180px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    color: #fff;
    margin: 0 auto;
    opacity: 1;
}
.carousel-text {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background-color: #000;
    width: 100%;
    opacity: 0.7;
}
/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
/* RESPONSIVE CSS -------------------------------------------------- */


@media (max-width: 425px) {
    .adventure-day1and2, .adventure-day3and4, .adventure-day5and6{
        display: none;
    }
}

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}
@media (max-width: 768px) {
    .carousel .carousel-inner {
        height: auto;
    }
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
/*--- Packages ----*/
h1,
.packages {
    text-align: center;
}
.card-body {
    margin: 0 auto;
    text-align: center;
}
.package-img-adv {
    border-radius: 50%;
}
.card-footer {
    background-color: #ff2d00;
    padding-bottom: 9px;
}
.package-image-text {
    padding-top: 15px;
}
/*---- Google Maps API */
/* Set the size of the div element that contains the map */
#map {
    width: 100%;
    height: 400px;
    background-color: #b1b1b1;
}
.towns {
    font-size: 18px;
    background-color: #b1b1b1;
    padding: 9px;
    border: 0.7pt solid #000;
    margin: 3px;
    box-shadow: 3px 2px #000;
}
.towns:hover {
    background-color: #ff2d00;
    text-decoration: none;
}

/*---- Jquery Packages ---*/
.bath-text,
#adventure-package,
#country-package,
#comfort-package {
    display: none;
}
/*---- weather api. -----*/
.weather-container {
    text-align: center;
    border-radius: 12px;
    background-image: linear-gradient(45deg, #2980b9, #6dd5fa, #fff);
    box-shadow: 5px 10px #000;
}
.weather {
    margin: 0;
    font-weight: 700;
}
.temperature {
    margin: 0;
    font-weight: 700;
}
.temp {
    margin: 0;
    font-weight: bold;
}
.temp_min {
    margin: 0;
    font-weight: 700;
}
.temp_max {
    margin: 0;
    font-weight: 700;
}
.weather-col {
    margin-top: 5rem;
}
/* font awesome styling. ------------ */
.fa-map-signs {
    color: #744600;
}
.fa-calendar-alt {
    color: #708090;
}
.fa-couch {
    color: #deb887;
}
.fa-tree {
    color: #228b22;
}
.fa-road {
    color: #708090;
}
.fa-poll-h {
    color: #0000ff;
}
.fa-icicles {
    color: #add8e6;
}
.fa-water {
    color: #0000ff;
}
.fa-paw {
    color: #744600;
}

.fa-question-circle {
    cursor: pointer;
}

/* Footer -------------------------------------------------- */
footer {
    opacity: 0.7;
    color: #fff;
    background-color: #000;
    font-size: 16px;
}
.footer-head {
    text-decoration: underline;
}
.dropdown-menu .dropdown-item {
    color: #000000;
}
a:hover {
    color:#fff;
    text-decoration: none;
}
/*------------------------------------------------------ Contact Form */
.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}
.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}
/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
/* quiz */
#wrapper {
    width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 10px;
}
.input-quiz {
    margin: 5px 10px;
}
#submit-quiz {
    background: #008000;
    padding: 12px;
    cursor: pointer;
}
#reset {
    background: #ff0000;
    padding: 12px;
}
#answer {
    border: 1px dashed #ccc;
    background: #eee;
    padding: 10px;
}
.quiz-submit {
    border: 2pt solid #000;
    margin-top: 18px;
    cursor: pointer;
}
#quiz-submit:hover {
    background-color: #deb887;
    cursor: pointer;
}
/*------ */
.facts {
    color: #000;
    
}
.show-fact1,
.show-fact2,
.show-fact3 {
    display: none;
    color: #000;
    background-color: #fff;
    
}
/* gallery. */
/*--- image gallery ----*/
.row-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.gallery {
    width: 95%;
    margin: 0 auto;
}
.beach-text {
    display: none;
    padding: 5px;
    text-align: center;
    background-color: #d3d3d3;
    border: solid 1px #c3c3c3;
    opacity: 0.7;
    color: #000;
    box-shadow: 3px 2px #000;
}
.countryroad-text {
    display: none;
    padding: 5px;
    text-align: center;
    background-color: #d3d3d3;
    border: solid 1px #c3c3c3;
    opacity: 0.7;
    color: #000;
    box-shadow: 3px 2px #000;
}
.water-text {
    display: none;
    padding: 5px;
    text-align: center;
    background-color: #d3d3d3;
    border: solid 1px #c3c3c3;
    opacity: 0.7;
    color: #000;
    box-shadow: 3px 2px #000;
}
.wrestling-text {
    display: none;
    padding: 5px;
    text-align: center;
    background-color: #d3d3d3;
    border: solid 1px #c3c3c3;
    opacity: 0.7;
    color: #000;
    box-shadow: 3px 2px #000;
}
.spa-text {
    display: none;
    padding: 5px;
    text-align: center;
    background-color: #d3d3d3;
    border: solid 1px #c3c3c3;
    opacity: 0.7;
    color: #000000;
    box-shadow: 3px 2px #000;
}
.mine-text {
    display: none;
    padding: 5px;
    text-align: center;
    background-color: #d3d3d3;
    border: solid 1px #c3c3c3;
    opacity: 0.7;
    color: #000;
    box-shadow: 3px 2px #000;
}
.fair-text {
    display: none;
    padding: 5px;
    text-align: center;
    background-color: #d3d3d3;
    border: solid 1px #c3c3c3;
    opacity: 0.7;
    color: #000;
    box-shadow: 3px 2px #000;
}
/*----- jquery packages gallery ---- */
/*--- country package ----*/
.beachkite,
.beachkite-text,
.cartmel,
.cartmel-text,
.dogchase,
.dogchase-text {
    display: none;
}
/*--- adventure packages ----*/
.adventure-text,
.cycle-pair,
.adventure-1and2-text,
.hike,
.adventure-3and4-text,
.sail,
.adventure-5and6-text {
    display: none;
}
/*---- comfort packages ------*/
.picnic,
.picnic-text,
.forest,
.forest-text,
.window,
.window-text {
    display: none;
}
