/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    margin: 0;
    /*background-image:linear-gradient(#FFFFFF,#4B79A1); */
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(darkgrey, white, darkgrey);
   
}




/* Navbar 
--------------------------------------------------- */

.navbar {
    opacity: 0.8;
}

.navbar-brand {
    color: black;
}

.dropdown {
    right: 5%;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* hero image */

.hero-image {
    background-image: url("../images/index_images/discoverlakes.jpg");
    width: 100%;
    height: 100%;
    padding-top: 400px;
    padding-bottom: 400px;
    background-size: cover;
    display: inline-block;
    color: white;
}

.text-align {
    text-align: center;
}

.hero-text {
    text-align: center;
    font-weight: bold;
    font-size: 32pt;
}

.about-text {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 32pt;
    margin: 0 auto;
    padding-right: 21px;
    padding-bottom: 42px;
}

.discover-text {
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 32pt;
    padding-bottom: 42px;
}

.what-text {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 32pt;
    margin: 0 auto;
    padding-right: 21px;
    padding-bottom: 42px;
}

.background-image-what {
    background-image: url("../images/index_images/whatwedo.jpg");
    width: 100%;
    height: 50%;
    padding-top: 180px;
    padding-bottom: 180px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    color: white;
    margin: 0 auto;
    opacity: 1;
}

.background-image-country {
    background-image: url("../images/country_images/cave.jpg");
    width: 100%;
    height: 100%;
    padding-top: 180px;
    padding-bottom: 180px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    color: white;
    margin: 0 auto;
}


.background-image-adventuretravel {
    background-image: url("../images/index_images/colours.jpg");
    width: 100%;
    height: 100%;
    padding-bottom: 180px;
    padding-top: 180px;
    background-size: cover;
    display: inline-block;
    background-position: center;
}


.background-image-comforttravel {
    background-image: url("../images/comfort_images/water.jpg");
    width: 100%;
    height: 100%;
    padding-bottom: 180px;
    padding-top:  180px;
    background-size: cover;
    display: inline-block;
    background-position: center;
}

.background-image-lakes {
    background-image: url("../images/discover_images/lake.jpg");
    width: 100%;
    height: 100%;
    padding-bottom: 240px;
    padding-top:  240px;
    background-size: cover;
    display: inline-block;
    background-position: center;
}

.background-image-quiz {
    background-image: url("../images/comfort_images/elterwater.jpg");
    width: 100%;
    height: 100%;
    padding-bottom: 240px;
    padding-top:  240px;
    background-size: cover;
    display: inline-block;
    background-position: center;
}

.image-text {
    color: white;
    position: absolute;
    float: left;
    padding-left: 12px;
    padding-top: 48px;
}




.image-radius {
    padding-top: 24px;
}

.coast {
    border-radius: 50%;
}

.featurette-heading {
    padding-left: 9px;
    text-align: center;
}

.feature-space {
    margin: 30px;
}

.background-color {
    background-image: lightgrey;
}


/*--- image gallery ----*/

.row-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



--------------------------------------------------- */ h1,
.packages {
    text-align: center;
    
}

.adv-pack {
    border-bottom: 2pt solid red;
    margin: 0 auto;
    text-align: center;
}

.card-body {
    margin: 0 auto;
    text-align: center;
}

.card {
    border-radius: 25px 25px 0px 0px;
    border: 1pt solid black; 
}

.package-img-adv {
    border-radius: 50%;
}

.card-footer {
    background-color: red;
}




/*---- jquery ----- */



/*---- Google Maps API */

/* Set the size of the div element that contains the map */

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}


#adventure-package {
    display: none;
}

#country-package {
    display: none;
}

#comfort-package {
    display: none;
}




/*---- weather api.   -----*/


.weather-container {
    background: #ccc;
    text-align: center;
}

.weather {
    font-size: 22px;
    margin: 0;
}

.temp {
    font-size: 60px;
    margin: 0;
    font-weight: bold;
}

.temp_min {
    font-size: 22px;
    margin: 0;
}

.temp_max {
    font-size: 22px;
    margin: 0;
}







/* font awesome styling. ------------ */

.fa-map-signs {
    color: brown;
}

.fa-calendar-alt {
    color: slategrey;
}

.fa-couch {
    color: burlywood;
}

.fa-tree {
    color: green;
}

.fa-road {
    color: slategrey;
}





/* Footer
-------------------------------------------------- */

footer {
    opacity: 0.7;
    color: white;
    background-image: linear-gradient(#000000, #232526, #000000);
    border-top: 8pt solid black;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

@media (max-width: 768px) {
    .carousel .carousel-inner {
        height: auto;
    }
}



/*------------------------------------------------------ Contact Form */

.contact-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}


/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}



/* quiz */

.question{
    font-weight: 600;
    font-size: 22px;
    word-spacing: 9px;
}
.answers {
    margin-bottom: 20px;
    padding: 12px;
    word-spacing: 9px;
    font-size: 24px;
    text-indent: 3px;
    
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}


#quiz {
    padding: 9px;
}



/* gallery. */

.gallery {
    width: 95%;
    margin: 0 auto;
}